.title {
  font-family: "Righteous", sans-serif;
  font-size: 26px;
  color: #5f5013;
  margin: 0 auto;
  width: 100%;
  flex-wrap: nowrap;
  padding: 20px;
  font-weight: bold;
  text-align: center;
}
.myrank {
  font-family: "Righteous", sans-serif;
  color: #5f5013;
  font-size: 20px;
  width: 100%;
  flex-wrap: nowrap;
  font-weight: bold;
  margin: 10 auto;
  margin-left: 40px;
  margin-top: 30px;
}
